<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/vue.js"></script>
</head>
<body>
 <div id="app">
     请输入手机号:<input type="text" v-model="phone"><span class="span1Class">{{msg1}}</span>
     请输入身份证号: <input type="text" v-model="eid"><span class="span2Class">{{msg2}}</span>
    <script>
        new Vue({
            el:"#app",
            data:{
                span1Class:{
                    lok:false,
                    unot:false,
                    msg1:"",
                    phone:""
                },
                span2Class:{
                    lok:false,
                    unot:false,
                    msg2:"",
                    eid:""   
                }
            },
        watch:{
            phone(){
                var reg=/^1[3-9]\d{9}$/;
                
            }
        }
        })
    </script>
 </div>
</body>
</html>